@charset "utf-8";
.epboxs{position:absolute;background:rgba(255,255,255,0);}
.epCTRL{} /*是epboxs的直系子节点，由js控制显隐和定位*/

/*共用样式*/
*{margin:0px;padding:0px;}
img{border:0;}
.epboxs .ep-btn-go{display:block;position:absolute;right:20px;
    width:80px;height:32px;line-height:32px;background:#d45757;border:1px solid #d45757;border-top-color:#f67d7d;color:#FFF;text-decoration:none;text-align:center;font-size:14px;font-family:"Arial";
    -webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;}
.epboxs a{text-decoration: none;}


/*样式：黑色通栏(底部)直客用*/
.epboxs .boxtlzhike{position:absolute;left:0;bottom:0;right:0;}/*单通栏(直客用)-盒子(js控制显隐)*/
.epboxs .boxtlzhike-board{position:relative;height:100px;padding:5px 0px;text-align:center;z-index:2;}
.epboxs .boxtlzhike-bg{position:absolute;left:0;right:0;bottom:0;top:0;background:#000;opacity:0.3;filter:alpha(opacity=30);z-index:1;}




/*样式：黑色通栏(底部)*/
.epboxs .boxtl{position:absolute;bottom:10px;left:50%;margin-left:-165px;width:330px;}/*单通栏-盒子(js控制显隐)*/
.epboxs .boxtl-board{position:relative;min-height:105px;padding:15px;z-index:2;}
.epboxs .boxtl-bg{position:absolute;left:0;top:0;right:0;bottom:0;border:1px solid #3d3d3d;opacity:0.3;filter:alpha(opacity=30);z-index:1;
    -webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.epboxs .boxtl-bg111{position:absolute;left:0;top:0;right:0;bottom:0;background:#000;border:2px solid #FFF;
    -webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.epboxs .boxtl-img1{border:solid #c4c4c4 2px;margin-right:9px;margin-bottom:9px;}
.epboxs .boxtl-txt{text-decoration:none;color:#FFF;font-size:16px;line-height:30px;margin:0;font-weight:normal;font-family:"Arial";text-align:left;height:64px;overflow:hidden;}




/*样式：黑色双通栏*/
.epboxs .boxtl2{position:absolute;margin:0 auto;bottom:20px;min-height:230px;left:50%;margin-left:-165px;width:330px;z-index:2;}/*单通栏-双条广告-(js控制显隐)*/
.epboxs .boxtl2-h3{padding:10px 0px 0px 0px;margin:5px;font-size:14px;font-weight:normal;color:#FFF;text-align:left;}
.epboxs .boxtl2-txt{margin:0px 6px 0px 0px;font-size:16px;line-height:30px;height:60px;font-family:"Arial";text-align:left;overflow:hidden;}
.epboxs .boxtl2-line{min-height:100px;clear:both;}


.epboxs .boxtl2-board{position:relative;left:0px;width:100%;height:100%;z-index:2;}/*overflow:hidden;*/
.epboxs .boxtl2-bg{position:absolute;left:0px;top:0px;width:100%;height:100%;margin:0;background:#023458;border:2px solid #FFF;z-index:1;
    -webkit-border-radius:7px;-moz-border-radius:7px;-ms-border-radius:7px;-o-border-radius:7px;border-radius:7px;
    opacity:0.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}




/*样式：黑色蒙版*/
.epboxs .boxmask{position:relative;width:100%;height:100%;}/*全蒙板-盒子(js控制显隐)*/
.epboxs .boxmask-h3{padding:0px;margin:0;text-align:left;color:#F90;font-size:16px;line-height:16px;font-weight:bold;font-family:"Arial";}
.epboxs .boxmask-txt{margin:0;color:#FFF;font-size:14px;line-height:1.5em;font-weight:normal;font-family:"Arial";text-align:left;}
.epboxs .boxmask-board-img{text-align:center;height:50%;padding:15px 0px 5px 0px;overflow:hidden;}
.epboxs .boxmask-board{position:relative;width:80%;height:100%;margin:0 auto;}
.epboxs .boxmask-bg{position:absolute;left:0px;top:0px;width:100%;height:100%;background:#000;opacity:0.4;filter:alpha(opacity=40);}



/*style=7 200x200*/
/*style=9 300x250*/
/*.epboxs .boxlunbo7{position:absolute;bottom:0;right:0;width:200px;max-height:300px;z-index:2;}/*轮播200x(200+100) (js控制显隐)*/
.epboxs .boxlunbo7{position:absolute;bottom:0;right:0;z-index:2;}/*适应不同大小的广告图片 (js控制显隐)*/

.epboxs .boxlunbo9{position:absolute;bottom:0;right:0;width:300px;max-height:350px;z-index:2;}/*轮播300x(250+100) (js控制显隐)*/
/*.epboxs .boxlunbo-ifm{position:relative;left:0;top:0;right:0;margin-bottom:98px;border:1px solid #555;}*/
.epboxs .boxlunbo-ifm{position:relative;left:0;top:0;right:0;}
.epboxs .boxlunbo-board{position:absolute;left:0;right:0;bottom:0;height:100px;z-index:2;}
.epboxs .boxlunbo-bg{position:absolute;z-index:1;left:0;bottom:0;right:0;height:100px;background:#000;opacity:0.4;filter:alpha(opacity=40);}

.epboxs .boxlunbo7-board-txt{margin:10px 0px 0px 0px;font-size:12px;line-height:20px;color:#FFF;height:60px;overflow:hidden;}
.epboxs .boxlunbo9-board-txt{margin:10px 0px 0px 0px;font-size:16px;line-height:26px;color:#FFF;height:52px;overflow:hidden;}
.epboxs .lunbo-go{position:relative;line-height:28px;height:28px;text-align:right;padding-right:10px;padding-bottom:5px;box-sizing:content-box;}



/*样式：点点广告*/
.epboxs .box0{position:relative;width:100%;height:100%;}/*点点-总容器*/
.epboxs .box0-head{display:block;width:100%;height:26px;z-index:1;}/*(js控制显隐)*/
.epboxs .box0-dot{position:absolute;}/*可以box2里面包含多个：点点的面板*/
.epboxs .box0-board{position:relative;/*display:none;*/width:200px;padding:5px 5px 0px 5px;border:2px solid #FFF;background:#023458;z-index:2;
    -webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px;
    box-sizing:content-box;
}/*点点广告-盒子(js控制显隐)*/
.epboxs .box0-txt{font-size:12px;line-height:18px;color:#8b8b8b;width:130px;display:inline-block;}
.epboxs .box0-board-bg{position:absolute;background:#023458;opacity:0.4;filter:alpha(opacity=40);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}
.epboxs .box0-go{line-height:28px;color:#FFF;font-size:12px;height:28px;position:relative;text-align:right;padding-right:10px;padding-bottom:5px;box-sizing:content-box;}


.epboxs .box0-h3{font-size:14px;color:#565656;font-weight:bold;margin:2px 0px 0px 0px;}
.epboxs .txt0{font-size:12px;line-height:18px;color:#FFF;width:110px;text-align:left;display:inline-block;float:left;}
.epboxs .img0{display:inline-block;margin:4px;border:1px solid #F0F0F0;width:80px;height:80px;overflow:hidden;float:left;}
.epboxs .img0 img{width:80px;height:80px;}
.epboxs .red{font-size:12px;color:#e32b2d;}
.epboxs .btn0{display:block;background:#ff945a;font-size:12px;color:#FFF;width:56px;height:22px;line-height:22px;border:1px solid #ff945a;text-align:center;margin:0 auto;
    -webkit-border-radius:3px 0px;-moz-border-radius:3px 0px;-ms-border-radius:3px 0px;-o-border-radius:3px 0px;border-radius:3px 0px;}
